.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imageFormat {
  max-width: 600px;
  max-height: 600px;
}

 .inputBtn {
  align-items: center;
}

.blockDiv {
  position: relative;
  width: 800px;
  height: 30px;
  align-items: center;
  background-color: #61dafb;
}


.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2;
  color: white;
  border-radius: 1px;
  border-color:white;
  cursor: pointer;
  width: 200px;
  height: 24px;
}

.inputText {
  height: 20px;
  width: 200px;
}

.btn-primary:hover, .btn-secondary:hover {
  border-color: red;
}

.btn-secondary {
  color: white;
  border-radius: 1px;
  border-color:white;
  cursor: pointer;
  width: 100px;
  height: 24px;
  background-color: rgb(38, 112, 38) !important;
}